<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html lang="en"> <head>
<title>MEETING APP</title>
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" type="text/css"
     href="//cdn.jsdelivr.net/bootstrap/latest/css/bootstrap.css"
/>


<link rel="stylesheet" type="text/css"
    href="/static/css/busy.css"
/>

<!-- jquery from a content distribution network; probably cached -->
<script type="text/javascript"
     src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
</script>

<!-- Ideally the rest of our javascript dependencies would be
     bundled and minified with 'browserify', but I've found that
     it difficult to handle browserify dependencies for class
     projects.  So, we'll pick up moment and a date range picker
     from CDNs instead.
-->

<script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>

<script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />


</head>

<body>
<div class="container">

<h1>MEETING APP</h1>
<p> &nbsp; </p>
<!--
   If there are any warnings or other messages from a prior action,
   they appear above the rest of the content, just until the next 
   action.
  --!>

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
  <div class="col-md-4">
    <h3> Create a New Meeting </h3>
    <button onclick='newMeeting()'> Create </button>
  </div>
  <p> </p>
  <div class="col-md-4">
    <h3> Existing Meeting </h3>
    <form>
    <input type='text' name="code" placeholder='Meeting Code'> 
    <button onclick='existing()'> Existing Meeting </button>
    </form>
  </div>

  </div>  <!-- container (for bootstrap) -->
  </body> 
<script>
    function newMeeting(){
        window.location.replace('/my/newMeeting');
    }
    function existing(){
        var meeting_code = $('input[name="code"]').val();
        $.getJSON("/checkCode", {'code': meeting_code},
            function(data){
                var unique = data.response.exists;
                if(unique == 'true'){
                    // redirect to a page
                    window.location.replace("/existing/" + meeting_code);
                } else{
                    alert("Invalid Code");
                }
        });
    }
</script>

</html>
